LeSite/App_WebReferences/RefWSHotel/WSHotel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="liste_villes">
        <s:complexType />
      </s:element>
      <s:element name="liste_villesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="liste_villesResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="liste_hotels_ville">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="liste_hotels_villeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="liste_hotels_villeResult" type="tns:ArrayOfHotel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHotel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:Hotel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Hotel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nomHotel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="adresse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ville" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pays" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="liste_chambres_hotels">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="liste_chambres_hotelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="liste_chambres_hotelsResult" type="tns:ArrayOfChambre" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfChambre">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Chambre" nillable="true" type="tns:Chambre" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Chambre">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="hotelId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="capacite" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="prix" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="hotel_id">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hotel_idResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hotel_idResult" type="tns:Hotel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="liste_villesSoapIn">
    <wsdl:part name="parameters" element="tns:liste_villes" />
  </wsdl:message>
  <wsdl:message name="liste_villesSoapOut">
    <wsdl:part name="parameters" element="tns:liste_villesResponse" />
  </wsdl:message>
  <wsdl:message name="liste_hotels_villeSoapIn">
    <wsdl:part name="parameters" element="tns:liste_hotels_ville" />
  </wsdl:message>
  <wsdl:message name="liste_hotels_villeSoapOut">
    <wsdl:part name="parameters" element="tns:liste_hotels_villeResponse" />
  </wsdl:message>
  <wsdl:message name="liste_chambres_hotelsSoapIn">
    <wsdl:part name="parameters" element="tns:liste_chambres_hotels" />
  </wsdl:message>
  <wsdl:message name="liste_chambres_hotelsSoapOut">
    <wsdl:part name="parameters" element="tns:liste_chambres_hotelsResponse" />
  </wsdl:message>
  <wsdl:message name="hotel_idSoapIn">
    <wsdl:part name="parameters" element="tns:hotel_id" />
  </wsdl:message>
  <wsdl:message name="hotel_idSoapOut">
    <wsdl:part name="parameters" element="tns:hotel_idResponse" />
  </wsdl:message>
  <wsdl:portType name="WSHotelSoap">
    <wsdl:operation name="liste_villes">
      <wsdl:input message="tns:liste_villesSoapIn" />
      <wsdl:output message="tns:liste_villesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="liste_hotels_ville">
      <wsdl:input message="tns:liste_hotels_villeSoapIn" />
      <wsdl:output message="tns:liste_hotels_villeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="liste_chambres_hotels">
      <wsdl:input message="tns:liste_chambres_hotelsSoapIn" />
      <wsdl:output message="tns:liste_chambres_hotelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="hotel_id">
      <wsdl:input message="tns:hotel_idSoapIn" />
      <wsdl:output message="tns:hotel_idSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHotelSoap" type="tns:WSHotelSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="liste_villes">
      <soap:operation soapAction="http://tempuri.org/liste_villes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="liste_hotels_ville">
      <soap:operation soapAction="http://tempuri.org/liste_hotels_ville" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="liste_chambres_hotels">
      <soap:operation soapAction="http://tempuri.org/liste_chambres_hotels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hotel_id">
      <soap:operation soapAction="http://tempuri.org/hotel_id" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHotelSoap12" type="tns:WSHotelSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="liste_villes">
      <soap12:operation soapAction="http://tempuri.org/liste_villes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="liste_hotels_ville">
      <soap12:operation soapAction="http://tempuri.org/liste_hotels_ville" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="liste_chambres_hotels">
      <soap12:operation soapAction="http://tempuri.org/liste_chambres_hotels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hotel_id">
      <soap12:operation soapAction="http://tempuri.org/hotel_id" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSHotel">
    <wsdl:port name="WSHotelSoap" binding="tns:WSHotelSoap">
      <soap:address location="http://localhost:2849/WSHotel.asmx" />
    </wsdl:port>
    <wsdl:port name="WSHotelSoap12" binding="tns:WSHotelSoap12">
      <soap12:address location="http://localhost:2849/WSHotel.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>